.background {
  width: 100%;
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: block;
  margin: 0;
  justify-content: center;
}
#root {
  display: flex;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
}

#Info{
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  bottom: 0px;
}

