.progress-container {
  position: absolute;
  bottom: 15px;
  left: 6%;
  width: 50%;
  height: 5px;
  background: black;
}

.container_img {
  top: -40px;
  position: relative;
  height: 40px;
  width: 100%; /* Asegúrate de que tenga un ancho definido */
  overflow: hidden; /* Oculta cualquier contenido que se salga */
}

.img_mov {
  position: absolute;
  width: 40px;
  height: 30px;
  transition: transform 0.1s linear; /* Suaviza el movimiento */
}